<%- partial('_partial/header', {
  headerType: 'post',
  post: post
}) %>
<article>
  <div class="container typo">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-info text-muted">
          <% if (config.author) { %>
            <!-- Author -->
            <span class="author info">作者 <%- config.author %></span>
          <% } %>
          <!-- Date -->
          <span class="date-time info">发表于
            <span class="date"><%- date(post.date) %></span>
            <span class="time"><%- time(post.time) %></span>
          </span>
          <% if (post.categories && post.categories.length){ %>
          <!--  Categories  -->
            <span class="categories info">分类于 <%- partial('categories', {categories: post.categories}) %></span>
          <% } %>

          <!-- YPN Add 2016-11-14 增加热度 -->
          <span id="busuanzi_container_page_pv">
            &nbsp;&nbsp; 热度&nbsp; <span id="busuanzi_value_page_pv"></span>°C
          </span>

        </div>
        <!-- Tags -->
        <% if (post.tags && post.tags.length) { %>
          <div class="post-tags text-muted">
            标签: <%- partial('tags', {tags: post.tags, tagHash: true}) %>
          </div>
        <% } %>
        <!-- Post Main Content -->
        <div class="post-content">

			<!-- YPN Add 2017-02-27 Table of Contents -->
			<% if (post.toc){ %>
			<div id="toc" class="toc-article">
				<strong class="toc-title">文章目录</strong>
				<%- toc(post.content) %>
			</div>
			<% } %>
			
          	<%- post.content %>
        </div>

        <!-- YPN Add 2016-11-14 增加打赏 start -->
        <div style="padding: 10px 0; margin: 20px auto; width: 90%; text-align: center">
          <div><%- theme.reward_comment %></div>
          <button id="rewardButton", disable="enable", onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}", style="cursor: pointer; border: 0; outline: 0; border-radius: 100%; padding: 0; margin: 0; letter-spacing: normal; text-transform: none; text-indent: 0px; text-shadow: none">
            <span onmouseover="this.style.color='rgb(236,96,0)';this.style.background='rgb(204,204,204)'" onmouseout="this.style.color='#fff';this.style.background='rgb(236,96,0)'" style="display: inline-block; width: 70px; height: 70px; border-radius: 100%; line-height: 81px; color: #fff; font: 400 35px/75px 'microsofty'; background: rgb(236,96,0)">赏</span>
          </button>
          <div id="QR" style="display: none;">
            <% if (theme.wechatpay) { %>
              <div id="wechat" style="display: inline-block">
                <img id="wechat_qr" src="<%- theme.wechatpay %>" alt="<%- theme.author %> WeChat Pay" style="width: 200px; max-width: 100%; display: inline-block"/>
                <p>微信打赏</p>
              </div>
            <% } %>
          <% if (theme.alipay) { %>
            <div id="alipay" style="display: inline-block">
              <img id="alipay_qr" src="<%- theme.alipay %>" alt="<%- theme.author %> Alipay" style="width: 200px; max-width: 100%; display: inline-block"/>
              <p>支付宝打赏</p>
            </div>
          <% } %>
          </div>
        </div>
        <!-- YPN Add 2016-11-14 增加打赏 end -->

        <!-- YPN ADD 2017-11-02 Hitokoto·一言经典语句-->
        <script type="text/javascript" src="https://api.lwl12.com/hitokoto/main/get?encode=js&charset=utf-8"></script>
        <div id="lwlhitokoto"><script>lwlhitokoto()</script></div>

      </div>
    </div>
  </div>
</article>
